* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100vh;
}

.baseContainer {
  width: 50%;
  height: 100%;
  background-color: brown;
}

.subContainer {
  width: 100px;
  height: 150px;
  background-color: greenyellow;
  overflow-y: hidden;
  overflow-x: scroll;
}

.container {
  width: 100vh;
  height: 100px;
  background-color: aquamarine;
}
