* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

/* div {
  width: 100%;
  height: 100px;
  background-color: red;
} */

.secondDiv {
  width: 100%;
  height: 100px;
  background-color: green;
}

.firstHeading {
  color: yellow;
  background-color: red;
}
