* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

.baseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}

.container1 {
  flex: 1;
  background-color: orange;
}
.container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.container2 img {
  width: 20%;
}

.container3 {
  flex: 1;
  background-color: green;
}
